.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;

  background: linear-gradient(
    90deg,
    #1e3cfa,
    #1e4fd8
  );

  color: var(--white)
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.nav a {
  color: var(--white);
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
}

.nav a:hover {
  opacity: 0.85;
}
