.formContainer {
  background-color: var(--white);
  display: flex;
  flex-direction: column;

  padding: 1rem;
  margin: 2rem auto;

  max-width: 900px;
  border-radius: 0.75rem;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.titleForm {
  font-weight: 600;
}

.divider {
  height: 1px;
  background-color: var(--gray-300);
  margin: 0.75rem 0;
}

.inputRow {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

/* força o input a ocupar o espaço */
.inputRow input {
  flex: 1;
  height: 2.5rem;
}

.btnForm {
  background-color: #1e4fd8;
  color: #ffffff;

  border: none;
  border-radius: 0.45rem;

  height: 2.5rem;
  padding: 0 1.1rem;

  font-size: 0.85rem;
  font-weight: 600;

  cursor: pointer;
  white-space: nowrap;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btnForm:hover {
  filter: brightness(0.95);
}